<div class="partner">
  <div class="row">
    <div class="medium-4 text-center columns">
      <%= partner_presenter.show %>
    </div>

    <div class="medium-8 columns">
      <%= partner_presenter.content %>

      <%= partner_presenter.website %>
    </div>
  </div>
</div>
