<div class="internal-content">
  <%= render 'shared/title_area', title: @presented_additional_content.title %>

  <div class="row">
    <div class="medium-12 large-12 columns">
      <div class="content-box">
        <%= @presented_additional_content.content %>

        <%= render partial: 'article', collection: @presented_articles, as: :article_presenter %>

        <%#= paginate @presented_articles %>
      </div>
    </div>
  </div>
</div>
