<div class="team-member team-members-index">
  <div class="team-member-name"><%= team_member_presenter.name %></div>
  <div class="team-member-role"><%= team_member_presenter.role %></div>
</div>
