<div class="team-member team-member-list-item">
  <div class="team-member-name"><%= team_member_presenter.name %></div>
  <div class="team-member-role"><%= team_member_presenter.role %></div>
  <div class="team-member-biography"><%= team_member_presenter.biography %></div>
</div>
