<%= content_for :head do %>
  <script>
  $(function() {
    $('.team-member').matchHeight({
      byRow: true
    });
  });
  </script>
<% end %>
<div class="internal-content">
  <%= render 'shared/title_area', title: @presented_additional_content.title %>

  <div class="row">
    <div class="medium-12 columns">
      <div class="content-box">
        <%= @presented_additional_content.content %>

        <div class="team-members-list">
          <%= render partial: 'team_member', collection: @presented_team_members, as: :team_member_presenter %>
        </div>
      </div>
    </div>
  </div>
</div>
