.top-header {
  @extend %clearfix;
  background: $white;

  @include media('>phone') {
    padding: em(26px) em(40px);
  }

  @include media('<tablet') {
    padding: em(10px);
  }
}

.menu-toggle {
  @include media('>=321px') {
    display: inline-block;
  }
  @include media('<321px') {
    position: absolute;
    top: 0;
    right: 10px;
  }
  background: $main-blue;
  color: $white;
  padding: em(15px);
  margin: 0 0 em(15px);
  text-transform: uppercase;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
  }
}

@include media('>phone') {
  .logo,
  .contact-details {
    float: left;
    width: 50%;
  }
}

.logo {
  a,
  p {
    display: inline-block;
  }

  p {
    color: $dark-blue;
    font-size: em(18px);
    font-weight: $lato-medium;
    line-height: 1;

    @include media('>phone') {
      margin: 0 em(50px);
    }

    @include media('<tablet') {
      font-size: em(14px);
      margin: 0;
    }
  }
}

.advice-title {
  color: $main-blue;
  display: block;
  font-size: em(18px);
  font-weight: $lato-black;
  text-align: right;
  text-transform: uppercase;

  @include media('<tablet') {
    font-size: em(14px, 18px);
  }
}

.advice-details {
  color: $light-blue;
  font-size: em(16px);
  font-weight: $lato-semibold;
  line-height: 1;
  text-align: right;
  margin: em(8px, 16px) 0 0;

  @include media('<tablet') {
    font-size: em(14px, 16px);
    line-height: 1.5;
  }

  strong,
  a {
    color: $dark-blue;
    font-weight: $lato-heavy;
  }
}
