.home-team-members {
  background: $grey image-url('layout/team/bg.png') no-repeat right;
  padding: em(75px) 0;

  @include media('<tablet') {
    padding: em(5px) 0;
  }

  .content-wrap {
    background: $white;
    -webkit-box-shadow: 15px 24px 54px -12px rgba(0, 0, 0, .15);
    -moz-box-shadow: 15px 24px 54px -12px rgba(0, 0, 0, .15);
    box-shadow: 15px 24px 54px -12px rgba(0, 0, 0, .15);
  }

  .content {
    padding: em(45px) em(55px);

    @include media('<tablet') {
      padding: em(20px);
    }
  }

  h2 {
    font-size: em(30px);
    margin: 0 0 em(64px, 30px);

    @include media('<tablet') {
      margin: 0 0 em(32px, 30px);
    }
  }
}

.office-number {
  color: $offset-main-blue;
  font-family: $montserrat;
  font-size: em(18px);
  font-weight: $montserrat-light;
  margin: em(18px, 18px) 0 0;
  text-transform: uppercase;

  strong {
    color: $black;
    font-family: $merriweather;
    font-size: em(26px, 18px);
    font-weight: $merriweather-bold;

    @include media('<tablet') {
      display: block;
    }
  }
}
