<%= render 'optimadmin/shared/header/main_title', title: 'Edit Partner' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: partners_path, title: 'Partner' %>

  <%= render 'form', partner: @partner %>
</div>