<div class="internal-content">
  <%= render 'shared/title_area', title: 'Page Not Found' %>

  <div class="row">
    <div class="medium-8 medium-centered columns">
      <div class="content-box">
        <h1>Page Not Found</h1>

        <p>The page you are looking for can not be found.</p>

        <p>If you think this is incorrect, please get in touch.</p>
      </div>
    </div>
  </div>
</div>
