@import 'optimadmin/lib/mixins', '../../lib/variables';
@import 'optimadmin/global/additional_reset';

html,
body {
  font-size: 14px;
}

body {
  color: $dark-grey;
  font-family: $lato;
}

a {
  color: $main-blue;
  text-decoration: underline;

  &:link {
    color: $main-blue;
  }

  &:visited {
    color: $main-blue;
  }

  &:hover {
    color: $light-blue;
    text-decoration: underline;
  }

  &:active {
    color: $dark-blue;
  }
}

p {
  font-family: $myriad-pro;
  font-size: em(16px);
  line-height: 1.6;
  margin: em(12px) 0;
}


h1 {
  color: $dark-blue;
  font-family: $montserrat;
  font-size: em(32px);
  font-weight: $montserrat-bold;

  span {
    color: $main-blue;
  }
}

h2 {
  color: $main-blue;
  font-family: $montserrat;
  font-size: em(30px);
  font-weight: $montserrat-bold;

  span {
    color: $turquoise;
  }
}

h3 {
  color: $main-blue;
  font-family: $montserrat;
  font-size: em(27px);
  font-weight: $montserrat-bold;

  span {
    color: $turquoise;
  }
}

.image-left {
  float: left;
  margin: em(16px) em(16px) em(16px) 0;
}

.image-right {
  float: right;
  margin: em(16px) 0 em(16px) em(16px);
}

.small-inline-title {
  border-bottom: 1px dotted $main-blue;
  font-weight: $myriad-pro-bold;
  font-size: em(16px);
  color: $dark-blue;
}
