.content-button {
  background: $main-blue;
  color: $white;
  display: inline-block;
  padding: em(7px) em(14px);
  text-transform: uppercase;

  &:link,
  &:visited {
    color: $white;
  }

  &:hover {
    background: $dark-blue;
    color: $white;
    text-decoration: none;
  }

  &:active {
    background: $dark-blue;
    color: $white;
  }
}

.read-more a,
.inline-button {
  color: $white;
  display: inline-block;
  background: $main-blue;
  padding: em(7px) em(14px);

  &:link,
  &:visited,
  &:active {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background-color: $offset-main-blue;
    text-decoration: none;
  }
}
