.internal-content {
  background: $offset-main-blue image-url('components/internal/logo.png') 85% 85% no-repeat;

  @include media('>=tablet') {
    padding: em(30px);
  }
}

.title-box {
  margin: 0 0 em(30px);

  @include media('<1024px') {
    border-top: 1px solid $white;
    background: $offset-main-blue;
  }

  h1 {
    color: $white;

    span {
      color: $light-blue;
    }
  }
}

.content-box-header {
  background: $main-blue;
  padding: em(30px);
  text-align: center;

  h2 {
    color: $white;
    display: inline-block;
    font-size: em(23px);
    position: relative;;

    &:after {
      content: ' ';
      position: absolute;
      bottom: -16px;
      background: $turquoise;
      height: 5px;
      width: 50%;
      left: 25%;
    }
  }
}

.content-box {
  background: $white;
  padding: em(15px) em(30px);
  margin: 0 0 em(30px);

  a {
    text-decoration: underline;
  }
}

.aside-content-box {
  background: $alternative-blue;
  font-family: $myriad-pro;
  font-size: em(17px);
  margin:  0 0 em(30px, 17px);
  padding: em(2px, 17px);
  text-align: center;
  text-transform: uppercase;

  a {
    color: $white;
    display: block;
    font-weight: normal;
  }

  &.download-box {
    background-image: image-url('components/internal/sidebar-background.png');
    background-position: top right;
    background-repeat: no-repeat;
    padding: 0;
    font-size: em(18px);
    line-height: 1.25;

    a {
      padding: em(15px, 18px);
    }

    @include media('>tablet') {
      min-height: 83px;
      line-height: 53px;
    }
  }

  .download-icon {
    margin-bottom: em(5px);
  }
}

.download-icon {
  display: block;
  margin: 0 auto;
}
