.footer-partners {
  list-style: none;
  padding: em(60px) 0;

  @include media('<tablet') {
    padding: em(15px) 0;
  }

  li {
    display: inline-block;
    padding: 0 em(25px);

    @include media('<tablet') {
      padding: em(5px);
    }
  }
}

.partner {
  margin: em(40px) 0;

  .medium-4 {
    border-right: 3px solid $light-blue;

    img {
      padding: em(20px);
    }
  }
}
