.team-member {
  border-right: 6px solid $turquoise;

  @include media('<tablet') {
    margin: 0 0 em(5px);
  }
}

.team-member-name {
  color: $main-blue;
  font-family: $montserrat;
  font-size: em(18px);
  font-weight: $montserrat-bold;
}

.team-member-role {
  color: $alternative-dark-grey;
  font-family: $montserrat;
  font-size: em(12px);
}

.team-members-list {
  @extend %clearfix;
}

.team-member-list-item {
  border: 0;
  padding: 0 em(15px);
  margin: 0 0 em(15px);
}
