.home-page-section-3 {
  padding: em(80px) 0;

  @include media('<tablet') {
    padding: em(5px) 0;
  }

  .content-wrap {
    -webkit-box-shadow: 15px 24px 54px -12px rgba(0, 0, 0, .15);
    -moz-box-shadow: 15px 24px 54px -12px rgba(0, 0, 0, .15);
    box-shadow: 15px 24px 54px -12px rgba(0, 0, 0, .15);
  }

  .content {
    padding: em(45px) em(55px);

    @include media('<tablet') {
      padding: em(20px);
    }
  }
}

.home-page-section-3-image-wrap {
  position: relative;
  height: 355px;

  @include media('<tablet') {
    width: 100%;
  }

  .section-image,
  .section-overlay,
  .section-title {
    left: 0;
    height: 355px;
    position: absolute;
    top: 0;
    width: 388px;

    @include media('<tablet') {
      width: 100%;
    }
  }

  .section-title {
    background: image-url('components/icons/left-arrow.png') no-repeat -7% 50%;
    z-index: 2;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }

    img {
      left: 50%;
      margin: -26px 0 0 -20px;
      position: absolute;
      text-align: center;
      top: 50%;
    }
  }

  .section-overlay {
    background: rgba($dark-blue, 0.75);
    z-index: 1;
  }
}
