<%= render 'optimadmin/shared/header/main_title', title: 'New Leaderboard' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: leaderboards_path, title: 'Leaderboard' %>

  <%= render 'form', leaderboard: @leaderboard %>
</div>